
ul{
  list-style: none;
}

h1, 
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #153b74;
  text-shadow: 5px 5px 10px #3b4b53;
}

table{
  font-size: small;
}

.jumbotron{
  background: linear-gradient(#2b86ee, transparent 20%),
  linear-gradient(0deg, #fff, transparent),
   #abbdf0 url('../images/top.jpg') no-repeat center;
  background-size: cover;
  color: #2872a0;
}

.lead{
  color: #2872a0;
  font-weight: bold;;
}

.title-letter{
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: 80%;
}

.highlight{
  border: 1;
}
.profile-image{
  width: 40px;
  height: 40px;
  border: solid 2px white;
  border-radius: 50%;
}

.logo{
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 10px 10px #184350cc;
  border-radius: 50%; 
  }
   
.first-letter:first-letter {
  float: left;
  font-size: 2em;
  background: rgb(34, 135, 153);
  color: white;
  margin: auto 5px;
  border-radius: 20%;
  padding: 5px;
  line-height: 1;
}

.videoplayer{
  margin: 0;
  display: block;
  width: 100%
}

.mejs__container {
  margin: 0 auto;
}
  
/*--------pseudo------------*/
:target, .highlight:hover{
  box-shadow: 5px 5px 5px 5px rgba(32, 143, 151, 0.4);
}

.logo:hover{
  box-shadow: 0px 0px 10px 15px #184350cc;
  }
  
/* this makes the image bigger when the mouse is over the image */
.profile-image:hover{
  transform: scale(1.3);
  border: solid 2px white;
}
  
.social-media-contact a::after{
  margin: 10px;
  display: inline-block; 
  width: 25px;
  height: 25px;
  border-radius: 50%;
  }
  
  .instagram::after{
    content: url(../media/instagram.svg);
  }
  .facebook::after{
    content: url(../media/facebook.svg);
  }
  .twitter::after{
    content: url(../media/twitter.svg);
  }